/* Global Styles */
html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Georgia', sans-serif;  
    background-color: #f5efe4; 
    color: #4a3f35; 
    line-height: 1.5;
    margin: 0;
    padding: 0;
}


/* Header */
header { 
    background-color: #6d3d10; 
    color: #ffffff;
    text-align: center;
    padding: 30px 0; 
    box-shadow: 0 4px 10px #00000026; 
}
#title {                                                            /* title item in header */
    font-family: cursive; 
    font-size: 3em; 
    font-weight: bold; 
    margin: 0;
}


/* Welcome tagline */
#welcome {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    max-width: 60%; 
    margin: 0 auto;
    padding: 20px;
}


/* navBar */
.navBar {                                                           /* Whole navbar group settings */
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #e5b68d 10%, #6d3d10 25% 75%, #e5b68d 90%);
    display: flex;
    gap: 100px;
    margin-top: 10px;
    padding: 20px 5px;
}
.navigation {                                                       /* Nav buttons settings */
    color: #ffffff;
    font-family: cursive;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4em;
    transition: 0.2s ease;
    padding: 15px;
}
.navigation:hover {                                                 /* flex hove feature */
    background-color: #ffffff40;
    border-radius: 8px;
}

/* Picture */
#banner {
    margin-bottom: 10px;
    height: auto;
    width: 100%;
}

/* Go to Bottom button */
[href = "#bottomPage"] {
    font-family: cursive;
    color: white;
    text-decoration: none;
    background-color: #8d4f15;
    padding: 10px;
    border-radius: 12px;
    margin: 5px;
}


/* Coffee */
.coffee {                                                           /* Whole coffee group settings */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    max-width: 80%;
    margin: 30px auto;
    background: none !important; 
    padding: 25px;
    border-radius: 12px; 
}
h2 {                                                                /* section header h2 before ol */
    font-family: cursive; 
    font-size: 2em;
    font-style: italic;
    color: #ffffff; 
    background: linear-gradient(to right, #8d4f15, #8d4f15, #e5b68d);
    text-align: center;
    width: 100%;
    padding: 20px;
    border-radius: 12px; 
    margin-bottom: 5px;
    margin-top: 2px;
}
ol {                                                                /* whole OL */
    font-size: 1.2em;
    list-style: decimal inside;
    background: #f8e1cd !important;
    padding: 20px 40px;
    border-radius: 15px;
    font-weight: bold;
    margin-bottom: 2px;
}
ol li {                                                             /* OL listed items */
    padding: 12px 0;
    font-weight: 500;
}
.home .coffee .definition {                                         /* def */
    text-align: justify;
    max-width: 95%;
    width: 100%;
    word-spacing: 2px;
    font-size: 1.2em;
    background: #f8e1cd !important; 
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.home [alt="Cup Of Coffee"] {
    height: 500px;
    width: auto;
    margin: 2px;
}
button, #orderCoffee {                                              /* Order button */
    background: linear-gradient(to right, #8d4f15, #e5b68d);
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 28px 28px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 2px 4px 8px #00000026;
    display: block;
    margin: 5px auto;
    text-decoration: none;
    font-family: cursive;
}
button:hover, #orderCoffee:hover {                                  /* hover flex feature */
    background: #a76d3b;
    transform: scale(1.08); 
    box-shadow: 3px 6px 12px #00000033;
}

/* Order */
.order .coffee #tagline {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    max-width: 100%; 
    margin: 0 auto;
    padding: 20px;
}
.coffeeImg {                                                        /* selescts all coffeeImg */
    display: flex;
    justify-content: center;                                        /* Horizontally centers */
    align-items: center;                                            /* Vertically centers */
    gap: 10px;
    width: auto;
    height: 100px;
    border-radius: 10px;
}
.order td{                                                          /* all table data */
    text-align: center; 
    vertical-align: middle;
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 6px;
    box-shadow: 1px 2px 6px #0000001a;
    font-family: cursive;
    font-weight: 100;
}
.order td img {                                                     /* Selecets images in table cell */
    display: block;  
    margin: 0 auto;
    width: auto;
    height: 100px;
    border-radius: 6px;
    box-shadow: 1px 2px 6px #0000001a;
    transition: transform 0.3s ease-in-out; 
}
.order td img:hover {
    transform: scale(1.5);
}



[href = "#title"]{                                                  /* back to top button */
    font-family: cursive;
    color: white;
    text-decoration: none;
    background-color: #8d4f15;
    padding: 10px;
    border-radius: 12px;
}

/* Footer */
footer {
    background-color: #6d3d10;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    font-size: 0.9em;
}

footer #title{
    font-family: cursive; 
    font-size: 1.4em;
}